.banner {
    width: 100%;
    height: 25rem;
    object-fit: cover;
}

.post {
    max-width: 1440px;
    margin: 4rem auto;
    color: var(--Heading);

    h1 {
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 1.5rem;
    }    
   
    a {
        color: var(--Highlight);
    }

    ul {
        list-style: none;
        display: flex;
        align-items: center;
        color: var(--Info);
        margin-bottom: 1rem;

        li {
            font-size: 0.875rem;
            font-weight: 400;
            margin-left: 0.5rem;

            & + svg {
                margin-left: 1.5rem;
            }
        }
    }

    > span {
        font-size: 0.875rem;
        font-weight: 400;
        font-style: italic;
        color: var(--Info); 
    }

}

.content {
    text-align: justify;
    
    h2 {
        font-size: 2.25rem;
        margin: 3rem 0;
    }

    p, span, a, ul {
        font-size: 1.125rem;
        line-height: 1.6;
        margin: 1.8rem 0;
    }
}

.navigation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--Border);    

    h3 {        
        margin-bottom: 0.5rem;
        font-size: 1.125rem;
        font-weight: 400;
        color: var(--Heading)
    }

    p {
        font-size: 1rem;
        font-weight: 600;
        color: var(--Highlight);
    }

    div {
        padding-top: 3rem;
    }

    div + div {
        text-align: right;
    }
}